@font-face {
  font-family: 'Samsung Sharp Sans';
  src: url('./fonts/samsungsharpsans.otf') format('otf'),
    url('./fonts/samsungsharpsans-medium.otf') format('otf'),
    url('./fonts/samsungsharpsans-bold.otf') format('otf');
}
@font-face {
  font-family: 'SamsungOne';
  src: url('./fonts/SamsungOne-400.woff') format('woff');
}
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
p:last-child {
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  color: currentColor;
  text-decoration: none;
}
button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #ffffff;
  font-family: 'Samsung Sharp Sans', sans-serif;
  color: rgb(0, 0, 0);
}
.container {
  width: 100%;
  margin: 0 auto;
}
