@import url(./reset.css);
@import url(./animation.css);

.background {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -1;
}
.background-fur {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}
.section {
  position: absolute;
  z-index: 1;
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;
  border: 0.4vw solid black;
  background-color: #ffffff;
  overflow: hidden;
}
.main-section {
  width: 100%;
  height: 100%;
}
.text-section {
  width: 54%;
  height: 100%;
  position: absolute;
  z-index: 10;
  top: 0;
}
.samsung-logo {
  position: absolute;
  width: 27%;
  margin: 6.5% 0 10% 7.5%;
  animation-duration: 2s;
  animation-name: slide-in-from-left-and-up;
  z-index: 10;
}
.main-text {
  position: absolute;
  font-size: 210%;
  font-family: 'Samsung Sharp Sans';
  font-weight: bold;
  line-height: 120%;
  width: 65%;
  margin: 17% 0 11% 7.5%;
  opacity: 0;
  z-index: 10;
}
.main-text-span {
  font-family: 'Samsung Sharp Sans';
  font-weight: bold;
  line-height: 120%;
  margin-left: 1%;
}
.kitchn-small {
  font-weight: 400;
  display: flex;
  flex-direction: row;
}
.kitch-logo {
  width: 25%;
}
.kitchn {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sub-text {
  font-size: 100%;
  font-weight: 500;
  color: #000000;
  line-height: 165%;
}
.read-more {
  color: #808080;
  font-weight: 500;
}
.sub-text-wrap {
  position: absolute;
  z-index: 18;
  width: 37%;
  top: 46%;
}
.carusel-first-full {
  width: 100%;
  height: 100%;
  padding: 0;
}
.bespoke-title {
  font-size: 210%;
  color: rgb(255, 255, 255);
  font-weight: 600;
  line-height: 0.487;
  text-align: center;
  position: absolute;
  z-index: 100;
  top: 7%;
  right: 4.5%;
  letter-spacing: -1px;
}
.after-main-section {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}
.overlay {
  position: absolute;
  width: 53%;
  height: 100%;
  background-color: #ffffff;
  left: 0;
  opacity: 0;
}
.text-area {
  width: 53%;
  height: 100%;
  margin-left: 4%;
  opacity: 0;
}
.photo-section {
  position: absolute;
  width: 47%;
  height: 100%;
  right: 0;
  opacity: 0;
}
.photo-carusel {
  height: 100%;
  width: 100%;
  transition: 500ms;
}
.opacity {
  opacity: 1;
}
.slide-in-from-left {
  animation-name: slide-in-from-left;
  animation-duration: 2.5s;
  opacity: 1;
}
.slide-in-from-left13 {
  animation-name: slide-in-from-left13;
  animation-duration: 3s;
  opacity: 1;
}
.scale-up-and-back {
  animation-name: scale-up-and-back;
  opacity: 1;
  animation-duration: 3s;
}
.mt23 {
  margin-top: 23%;
  transition-duration: 3s;
}
.swiper-navigation {
  display: flex;
  flex-direction: row;
  width: 14%;
  height: 8%;
  align-items: center;
  position: absolute;
  bottom: 23%;
  z-index: 12;
}
.swiper-button-prev,
.swiper-button-next {
  background-color: transparent;
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 13;
}
.svg {
  width: 40%;
}
.swiper-counter {
  font-weight: 500;
  font-size: 140%;
  z-index: 12;
}
.shop-now {
  position: absolute;
  font-size: 200%;
  color: rgb(0, 0, 0);
  text-align: center;
  text-transform: uppercase;
  bottom: 9%;
  padding: 28px;
  border: 2px solid black;
  border-radius: 55px;
  font-family: 'SamsungOne';
  z-index: 12;
  cursor: pointer;
  animation: pulse 2s infinite ease-in-out;
  line-height: 0.642;
}
.svg:hover,
.svg:focus,
.svg:active,
.shop-now:hover,
.shop-now:focus,
.shop-now:active {
  transform: scale(1.1);
}
.animation-none {
  animation: none;
}

@media screen and (max-width: 767.98px) {
  .samsung-logo {
    top: 1%;
    width: 35%;
  }
  .bespoke-title {
    font-size: 120%;
    top: 5%;
  }
  .main-text {
    font-size: 120%;
    top: 1%;
  }
  .kitch-logo {
    width: 20%;
  }
  .kitchn-small {
    flex-direction: column;
  }
  .sub-text {
    font-size: 65%;
    width: 100%;
    line-height: 1;
  }
  .shop-now {
    bottom: 3%;
    font-size: 110%;
    padding: 22px;
  }
  .kitchn {
    display: inline-flex;
  }
  .swiper-navigation {
    bottom: 12%;
    width: 20%;
  }
  .sub-text-wrap {
    top: 45%;
    width: 48%;
  }
  .read-more {
    font-size: 70%;
  }
  .svg {
    width: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
  .samsung-logo {
    top: 4%;
    width: 40%;
  }
  .bespoke-title {
    font-size: 160%;
    top: 5%;
  }
  .main-text {
    font-size: 170%;
    top: 2%;
  }
  .kitch-logo {
    width: 15%;
  }
  .sub-text {
    font-size: 100%;
    line-height: 1.6;
  }
  .shop-now {
    bottom: 3%;
    font-size: 140%;
    padding: 22px;
  }
  .kitchn {
    display: flex;
    flex-direction: row;
  }
  .swiper-navigation {
    bottom: 13%;
  }
  .sub-text-wrap {
    top: 48%;
    width: 46%;
  }
  .read-more {
    font-size: 100%;
  }
  .kitchn-small {
    flex-direction: column;
  }
}

@media screen and (max-height: 600px) {
  .samsung-logo {
    top: 1%;
    width: 30%;
  }
  .bespoke-title {
    font-size: 120%;
    top: 5%;
  }
  .main-text {
    font-size: 100%;
    top: -6%;
    width: 70%;
  }
  .kitch-logo {
    width: 10%;
  }
  .sub-text {
    font-size: 60%;
    line-height: 1.6;
  }
  .shop-now {
    bottom: 3%;
    font-size: 90%;
    padding: 16px;
  }
  .kitchn {
    display: flex;
    flex-direction: row;
  }
  .swiper-navigation {
    bottom: 17%;
    font-size: 70%;
    width: 25%;
  }
  .sub-text-wrap {
    top: 49%;
    width: 46%;
  }
  .read-more {
    font-size: 60%;
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 30px;
    height: 30px;
  }
}
